pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
#-e .
# whenever you run pip install req.txt cmd and you don't want to trigger setup.py
# or you just want to install packages in req.txt so comment -e . 
